body .container .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .header-left__title h2 {
  font-weight: bold;
  font-size: 36px;
}

body .container .header-left__title h4 {
  font-size: 16px;
  font-weight: 300;
}

body .container .header-left__title button {
  color: white;
  width: 360px;
  height: 74px;
  background: #E94A4A;
  border: none;
  border-radius: 42px;
}

body .container .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .header-right .two-battons {
  position: absolute;
}

body .container .header-right .two-battons_style {
  width: 272.65px;
  height: 71px;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
  border-radius: 56px;
  border: none;
}
/*# sourceMappingURL=style.css.map */