body {
    font-family: Montserrat;

    .container-main {
        display: flex;

        .header-left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1 {
                color: #E94A4A;
                font-weight: bold;
            }

            &__title {
                h2 {
                    font-weight: bold;
                    font-size: 32px;
                }

                h4 {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 16px;
                    font-weight: 300;
                }

                button {
                    color: white;
                    width: 280px;
                    height: 74px;
                    background: #E94A4A;
                    border: none;
                    border-radius: 42px;
                }
            }
        }

        .header-right {
            display: flex;
            position: relative;

            svg {
                margin-left: 150px;
            }

            .two-buttons {
                position: absolute;

                .two-buttons_style {
                    width: 272.65px;
                    height: 71px;
                    background: #FFFFFF;
                    box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
                    border-radius: 56px;
                    border: none;

                    &_first {
                        position: relative;
                        top: 120px;
                    }

                    &_second {
                        position: relative;
                        top: 370px;
                        margin-left: 270px;
                    }

                    img {
                        margin-right: 10px;
                    }
                }
            }

            .number {
                top: 20px;
                position: absolute;
                right: 13%;

                h4 {
                    font-size: 18px;
                }
            }
        }
    }

    .section {
        padding-bottom: 70px;

        .container {
            .section-title {
                display: flex;
                justify-content: space-around;
                padding-top: 40px;
                padding-bottom: 60px;


                .arrows {
                    position: relative;

                    .swiper-button-prev {
                        color: #E94A4A;
                        border: 2px solid #E94A4A;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        transform: rotate(180deg)
                    }

                    ;

                    .swiper-button-prev:after {
                        font-size: 22px;
                        font-weight: bold;
                    }

                    .swiper-button-next {
                        color: #E94A4A;
                        border: 2px solid #E94A4A;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        transform: rotate(180deg)
                    }

                    ;

                    .swiper-button-next:after {
                        font-size: 22px;
                        font-weight: bold;
                    }
                }

                h2 {
                    font-weight: bold;
                }
            }

            .swiper {
                height: 100%;
                width: 100%;

                .swiper-slide {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .picture_block {
                        position: relative;
                        max-width: 290px;
                        .block {
                            width: 120px;
                            height: 115px;
                            right: -10px;
                            bottom: -10px;
                            background: #E94A4A;
                            border-radius:  5px 50px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;

                            h2 {
                                font-size: 30px;
                            }
                        }
                        img {
                            width: 100%;
                            object-fit: cover;
                            height: 100%;
                        }

                    }

                    h4 {
                        margin-top: 20px;
                        font-size: 16px;
                    }

                    h5 {
                        font-size: 14px;
                        color: #A6BCD1;
                    }
                }
            }
        }
    }

    .send {

        .wrap {
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0px 20px 70px rgba(132, 149, 185, 0.17);
            padding-top: 40px;
            padding-bottom: 40px;

            h2 {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            h5 {
                margin-bottom: 30px;
                color: #979797;
                font-weight: normal;
            }

            h6 {
                color:
                    #737373;
            }

            .red_word {
                color: #E94A4A;
            }

            button {
                margin-bottom: 20px;
                background: #E94A4A;
                border-radius: 50px;
                border: none;
                width: 270px;
                height: 50px;
                color: white;

                img {
                    margin-right: 10px;
                }
            }
        }
    }

    .map {
        text-align: center;
        background: #F4F4F4;
        padding-top: 35px;
        padding-bottom: 55px;

        h2 {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
        }

        h5 {
            font-weight: normal;
            font-size: 14px;
            color: #696969;
            letter-spacing: 0.02em;
            margin-bottom: 40px;
        }

        img {
            max-width: 80%;
        }
    }

    .footer {
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 20px;

            a {
                text-decoration: none;
            }

            h1 {
                color: #E94A4A;
                font-weight: bold;
                font-size: 2.2rem;
            }

            h5 {
                color: #8C97AC;
                font-weight: normal;
                font-size: 13px;
                line-height: 28px;
            }
        }
    }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media screen and (max-width: 1200px) {

    body {
        .container-main {
            padding-top: 30px;

            .header-left {
                .insta-face {
                    margin-top: 30px;
                }
            }
        }

        .container {
            .header-right {
                .family-photo {
                    width: 90%;
                }

                svg {
                    display: none;
                }

                .two-buttons {
                    position: relative;

                    button {
                        opacity: 0.9;
                    }

                    .two-buttons_style {
                        &_first {
                            top: 10;
                        }

                        &_second {
                            top: 0;
                            margin-top: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body {
        .container {
            text-align: center;
            display: block;

            .header-right {
                display: flex;
                justify-content: center;

                .family-photo {
                    display: none;
                }

                svg {
                    display: none;
                }

                .two-buttons {
                    margin-top: 30px;
                    position: relative;

                    .two-buttons_style {
                        &_first {
                            position: initial;
                            margin-right: 20px;
                        }

                        &_second {
                            position: relative;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .section {
            .container {
                .section-title {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    body {
        .container {
            display: block;

            &-main {
                .header-right {
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 0px;
                    display: block;

                    .family-photo {
                        display: none;
                    }

                    svg {
                        display: none;
                    }

                    .two-buttons {
                        position: relative;

                        button {
                            width: 240px;
                            margin-left: 10px;
                            margin-bottom: 20px;
                        }
                    }

                    .number {
                        left: 0;
                        padding-bottom: 20px;
                        position: relative;
                        text-align: center;
                    }
                }
            }

            .header-left {
                text-align: center;

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 30px;
                }

                .insta-face {
                    margin-top: 40px;
                }
            }
        }

        .section {
            padding-bottom: 40px;

            .container {
                .section-title {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }

        .send {
            .wrap {
                display: block;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        .container {
            &-main {
                .header-right {
                    text-align: center;

                }
            }
        }

        .section {
            padding-bottom: 30px;

            .container {
                .section-title {
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        padding-bottom: 40px;
                        text-align: center;
                    }
                }
            }
        }

        .send {
            .container {
                .wrap {
                    text-align: center;
                    padding: 20px;

                    .girls-photo {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }

        .map {
            .container {
                h2 {
                    font-size: 16px;
                }
            }
        }

        .footer {
            .container {
                display: block;
                text-align: center;
            }
        }

    }
}

@media screen and (max-width: 320px) {
    body {
        .container {
            &-main {
                .header-left {
                    &__title {
                        button {
                            width: 100%;
                        }
                    }
                }

                .header-right {

                    .two-buttons {
                        .two-buttons_style {
                            &_first {
                                width: 100%;
                            }

                            &_second {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .send {
            .container {
                .wrap {
                    button {
                        width: 100%;
                        padding-top: 10px;
                        padding-bottom: 60px;
                    }
                }
            }
        }

        .map {
            .container {
                h2 {
                    font-size: 12px;
                }
            }
        }
    }
}